{% block body %}

    <title>login</title>
    {% load staticfiles %}

    <style type="text/css">
        body{
            background: url('{% static "img/tropical-beach-background-22.jpg" %}') no-repeat center center fixed;

            background-size: cover;

        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_sign.css' %}">
    <!--<script  src="{% static 'js/sign.js' %}"></script>-->

<body>

    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>

        <form method="post">
            <h1>Login</h1>
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <p>
                <input type="text" name="username" placeholder="username">
            </p>
            <p>
                <input type="password" name="password" placeholder="password">
            </p>
            <p>
                <input type="submit" value="Join us" id="submit">
            </p>
            <p style="font-size: 16px; color: red;">For registration
                <a href="{% url 'water:signup' %}">sing up</a>
            </p>
	</form>
    </div>
</body>
{% endblock %}