{% block body %}
    {% load staticfiles %}
    <title>SignUp</title>
    <style>
        body{
             background: url('{% static "img/tropical-beach-background-22.jpg" %}') no-repeat center center fixed;

            background-size: cover;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_sign.css' %}">
    <!--<script  src="{% static 'js/sign.js' %}"></script>-->

<body>
    <div class="sign">
        <h1 ><a href="{% url 'water:index' %}" style="color:red; margin: 0px auto 0px auto;"> Water World</a></h1>

        <form method="post">
            <h1>SignUp</h1>
            {% csrf_token %}
            <p>
                <input type="text" name="username" placeholder="username">
            </p>
            <p>
                <input type="text" name="email" placeholder="email">
            </p>
            <p>
                <input type="password" name="password" placeholder="password">
            </p>
            <p>
                <input type="password" name="cnfrm_password" placeholder="confirm_password">
            </p>
		<p>
			<input type="submit" value="Create My Account" id="submit">
		</p>
	</form>
    </div>
</body>
{% endblock %}