{% block body %}

    <title>login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'water/style.css' %}">
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

    <style type="text/css">
        body{
            background: url('{% static "img/tropical-beach-background-22.jpg" %}') no-repeat center center fixed;

            background-size: cover;

        }
    </style>
<body>

    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="wrapper">
    <h1><a style="color: white; margin-left: 550px;" href="{% url 'water:index' %}">WaterWorld</a></h1>
    <form class="form-signin" method="post">
      <h2 class="form-signin-heading" >LogIn</h2>
        {% csrf_token %}
        {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p style="margin-top: 15px; margin-left: 130px; color: blue;">For Join Us
            <a href="{% url 'water:signup' %}" style="color: red">Join us</a>
        </p>
    </form>
  </div>
</body>
{% endblock %}