{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'water/style.css' %}">
	  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

    <title>SignUp</title>
    <style>
        body{
             background: url('{% static "img/tropical-beach-background-22.jpg" %}') no-repeat center center fixed;

            background-size: cover;
        }
        </style>

<body>
<div class="wrapper">
    <h1><a style="color: white; margin-left: 550px;" href="{% url 'water:index' %}">WaterWorld</a></h1>
    <form class="form-signin" method="post">

      <h2 class="form-signin-heading">SignUp</h2>
        {% csrf_token %}
        {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
    </form>
  </div>

	</body>
{% endblock %}